name: "Grype Vulnerability Scan"

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  scan:
    name: Grype Dependency Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Grype
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh \
            | sh -s -- -b /usr/local/bin
     
      - name: Run Grype scan (table output)
        run: grype . --exclude './node_modules' -o json > grype-report.json

      

    #   - name: Run Grype Scan (JSON output)
    #     run: grype . -o json > grype-report.json
        

      - name: Upload Grype Report as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: grype-report
          path: grype-report.json
