name: React CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      
  
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@a2570e77a3c6c613b6e3dd0b6dc33a5e62746c05
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      

